

body {
    background-color: rgb(226, 244, 255);
    color: purple;
    margin-left: 1%;
    margin-right: 0%;
}

.pageContent {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;

    padding: 1%;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.errorMessages{
    color: red;
}

p {
    margin: 0%;
}


textarea{
    width: 50%;
}

hr {
    border: dashed lightblue 1px;
}

h1 {
    color: darkviolet;
    text-align: center;
    font-size: 350%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    margin: 0%;
}

li {
    list-style-type: none;
    font-size: 150%;
    background-color: rgb(255, 215, 200);
    text-align: center;
    color: black;
    border: solid rgb(206, 224, 255) 10px;

    margin-left: 10%;
    margin-bottom: 5%;
    margin-right: 10%;

    padding: 1% 1%;


    /* width: 80%; */
    
}

li img{
    width:100%;
    height:100%;
}

li.butt{
    cursor:pointer;
}
li.butt:hover{
    border: solid red 10px;
}

li.about{
    margin-left: 42%;
    margin-right: 42%;
    border: solid rgb(146, 187, 137) 10px;
    font-size: 1.5vw;
}

.nav {
    text-align: center;
    color: black;
    position: fixed;
    width: 25%;
    padding-left: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 0%;
    margin-left: 0%;
    background: rgb(225, 215, 255);
}

.nav p{
    font-size:80%;
}

.LISU {
    width: 15%;
    font-size: 0.8vw;
    text-align: center;
    color: black;
    position: fixed;
    padding-left: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 0%;
    margin-left: 83%;
    background: rgb(225, 215, 255);
}


.navButton {
    cursor: pointer;
    border: solid black 1px;
    width: 78%;
    padding: 0.5% 2% 0.5% 2%;
    background-color: rgb(255, 215, 235);
    margin-right: 1%;
    margin-left: 9%;
    font-size: 200%;
}
.navButton:hover {
    background-color: white;
}

#homeButton{
    margin-left: 1%;
}

#welcomeMessage {
    font-size: 150%;
    text-align: center;
}

#BigR {
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Logo {
    display:inline-block;
    margin-top: 0.5%;
    /* text-decoration: underline solid rgb(109, 185, 94) 43px;
    text-decoration-line: underline;
    text-decoration-thickness: 13px;
    text-decoration-color: rgb(109,185,94);
    text-decoration-style: solid; */
    border-bottom: solid rgb(109,185,94) 13px;
    padding-bottom: 0%;
    margin-bottom:0%;
    height: 85px;
}

header > h1 {
    margin-top: 1%;
}

.question {
    list-style-type: none;
    border: dashed black 1px;
    background-color: lightgrey;
    color: black;
    font-size: 100%;
    text-align: left;
    margin-top: 0%;
}
.QstnInfo {
    text-align: center;
    margin-bottom: 0px;
    font-size: 80%;
}

.QstnAnswer {
    color: black;
    /* background-color: black; */
    align-self: center;
    text-align: center;
}

.QstnAnswerButt {
    background-color: rgb(206, 194, 194);
    cursor: pointer;
    padding: 0.5%;
    border: solid grey 1pt;
    margin: 0 0.2%;
    text-align: center;
}

.QstnAnswerButt2 {
    background-color: rgb(206, 194, 194);
    cursor: pointer;
    padding: 0.5%;
    border: solid grey 1pt;
    margin: 3% 0.8% 0;
    display: inline-block;
    width: 22%;
    text-align: center;
    font-size: 80%;
    justify-self: space-around;
}

.autocomplete-items {
    /* position: absolute; */
    /* border: 1px solid #d4d4d4; */
    border-bottom: none;
    border-top: none;
    z-index: 99;

    top: 100%;
    left: 0;
    right: 0;
  }
  

  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {

    background-color: #e9e9e9;
  }
  .autocomplete-active {

    background-color: DodgerBlue !important;
    color: #ffffff;
  }


  header > p {
      position: fixed;
      right: 2%;
      top: 2%;
      cursor: pointer;
      color: black;
      text-align: center;
  }
  
  #signup_form {
      display: none;
      width: 80%;
      height: 80%; 
      background-color: rgba(255,255,255,0.97);
      position: fixed;
      left: 10%;
      top: 10%;
      border-radius: 2%;
      text-align: center;
  }
  #signup_form p {
      color: black;
      font-size: 2em;
      text-align: center;
      font-family: 'Maven Pro', sans-serif;
      font-weight: 600;
  }
  #signup_form input[type="text"], #signup_form input[type="password"] {
      width: 29.5%;
      line-height: 200%;
      border-radius: 4pt;
      border: solid 1pt grey;
      margin: 0.2%;
      padding-left: 0.5%;
  }
  #signup_form input[type="submit"] {
    width: 15%;
    line-height: 200%;
    border-radius: 4pt;
    border: solid 1pt grey;
    margin: 0.2%;
    padding-left: 0.5%;
}
  #signup_form span {
      display: block;
      margin: 1%;
  }
  .error {
      color: red;
  }

  #account_table {
      width: 100%;
      text-align: center;
      padding: 0% 1%;
  }
  #account_table th {
      background-color: lightblue;
      cursor: pointer
  }
  .account_data {
      width: 97.5%;
      height: 420px;
      background-color: rgb(225, 215, 255);
      margin: 0 1.25%;
  }
  #account_table th:first-of-type {
    background-color: rgb(225, 215, 255)
  }

  .options {
    position: absolute;
    left: 22%;
    cursor: pointer;
    font-size: 2em;
}
.options2 {
    position: absolute;
    left: 75%;
    cursor: pointer;
    font-size: 2em;
}


#signup_form input:-webkit-autofill,
#signup_form input:-webkit-autofill:hover,
#signup_form input:-webkit-autofill:focus,
#signup_form input:-webkit-autofill:active
 {
    box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

#signup_form input {
    filter: none;
}